

body {
	background-color: #ddd;
}
p {
	font-family: Lato, Sans-serif;
}
#header {
	height: 75px;

	margin-bottom: 1em;
	border-bottom: 1px solid #999;
	text-align: right;
	font-family: Lato, Sans-Serif;
}

#backstory{
	float: left;
	width: 20%;
	margin-bottom: 1em;
	border-right: 1px solid #999;
	padding-right: 3%;
}

#education {
	float: left;
	width: 35%;
	margin-left: 3%;
	margin-bottom: 1em;
	border-right: 1px solid #999;
	padding-right: 3%;
}

#work {
	float: left;
	width: 25%;
	margin-left: 3%;
	margin-bottom: 1em;

}

#footer {
	clear: both;
	height: 50px;
	border-top: 1px solid #999;
	padding: .5em;
	text-align: right;
	font-family: Helvetica;
	font-size: 10px;
}

h1 {
	margin: 0;
	padding: .5em;
	font-family: Lato, Sans-Serif;
}

h2 {
	margin-top: 0;
	font-family: Lato, Sans-Serif;
}

a {
	text-decoration: none;
}

a:hover {
	color: salmon;
}

a:visited {
	color: green;
}

li {
	list-style-type:none;
	margin-top: 10px;
	font-family: Lato, Sans-serif;
	text-align
}